/*Letras*/
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font: italic 1.3em "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* header/Topo */
header {
    display: flex; 
    justify-content: center;/* Ativa o modo Flexbox */
    align-items: center;   
}

h1 {
    font: 400 2em "Major Mono Display", sans-serif;
    display: inline-block;
    margin: 5px
}

header > a {
    display: inline-block;
    align-items: flex-end;
    margin: 5px;
    border: 2px solid black;   
}

/*Seletor*/
.materias {
    width: 10em;
    height: 20em;
    background-color: rgba(95, 98, 100, 0.671);
    display: flexbox;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}